.container {
  background-color: #363636;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container:hover {
 color: white;
}






/* bg-img */
.bgimg {
  height: auto;
  width: auto;
  border: #eaeaea solid 10px;
  border-radius: 1rem;
  justify-content: center;
  background: 
  linear-gradient(rgb(207, 207, 207), transparent),
  linear-gradient(to top left, rgb(255, 174, 0), transparent),
  linear-gradient(to top right, rgb(44, 100, 255), transparent);
  background-blend-mode: screen;
}




