.container {
  background-color: #363636;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container:hover {
 color: white;
}






/* bg-img */
.bgimg {
  height: auto;
  width: auto;
  border: #eaeaea solid 10px;
  border-radius: 1rem;
  justify-content: center;
  background-color: rgb(110, 108, 224);
}




