.wrapper {
  position: absolute;;
  align-items: center;
  bottom: 10%;
  justify-content: space-between;
  
  
  
}
.ul {
display: flex;
list-style: none;
justify-content: space-between;
width: 100%;
gap: 10px;
height: 50px;

}





.Instagram{  
  
    
    
  }  

  
  .Instagram a:hover{  
    
    color: white;
  }
    
    
    
  
    

  .Facebook{  
      
   
  }  



.Facebook input{  
   
   
  }  

.Facebook a:hover{  
    
  color: white;
}
.Twitter{  

  }  

.Twitter input{  
     
    cursor: pointer;  
    width: 100%;  
    height: 100%;  
    z-index: 2;  
    appearance: none;  
    -webkit-appearance: none;  
   
  } 

.Twitter a:hover{  
    
  color: white;
}

.Telegram{  
   

}  

.Telegram input{  
   
  cursor: pointer;  
  width: 100%;  
  height: 100%;  
  z-index: 2;  
  appearance: none;  
  -webkit-appearance: none;  
 
} 

.Telegram a:hover{  
    
  color: white;
}

.Home{  
  text-decoration: none;
  
  
}  


.Home a:hover{  
    
  color: white;
}