.wrapper {
  background-color: rgb(0, 0, 0); 
  background-color: rgba(255, 196, 0, 0.4); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
}

.ul {
display: flex;
list-style: none;
justify-content: space-between;
width: 100%;
z-index: 4;
}
  
.Instagram a:hover{   
    color: white;
  }

.Facebook a:hover{    
  color: white;
}

.Twitter a:hover{     
  color: white;
}

.Telegram a:hover{  
  color: white;
}

.Home a:hover{  
    
  color: white;
}

